<a href="https://colab.research.google.com/github/ComaZzo/ColabFiltrationMovielens/blob/master/ColabFilterFilms.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [26]:
ratings_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_csv('u.data', sep='\t', names=ratings_cols, usecols=range(4))

movies_cols = ['movie_id', 'title']
movies = pd.read_csv('u.item', sep='|', names=movies_cols, usecols=range(2))

ratings = pd.merge(ratings, movies)

user_id               196
movie_id              242
rating                  3
timestamp       881250949
title        Kolya (1996)
Name: 0, dtype: object

In [31]:
movieRatings = ratings.pivot_table(index=['user_id'],columns=['title'],values='rating')
starWarsRatings = movieRatings['Star Wars (1977)']

similarMovies = movieRatings.corrwith(starWarsRatings)

similarMovies = similarMovies.dropna()
df = pd.DataFrame(similarMovies)

/usr/local/lib/python3.6/dist-packages/numpy/lib/function_base.py:2526: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar)
/usr/local/lib/python3.6/dist-packages/numpy/lib/function_base.py:2455: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

title
'Til There Was You (1997)                0.872872
1-900 (1994)                            -0.645497
101 Dalmatians (1996)                    0.211132
12 Angry Men (1957)                      0.184289
187 (1997)                               0.027398
                                           ...
Young Guns II (1990)                     0.228615
Young Poisoner's Handbook, The (1995)   -0.007374
Zeus and Roxanne (1997)                  0.818182
unknown                                  0.723123
Á köldum klaka (Cold Fever) (1994)            NaN
Length: 1664, dtype: float64

In [32]:
ratingsCount = 100
movieStats = ratings.groupby('title').agg({'rating': [np.size, np.mean]})
popularMovies = movieStats['rating']['size'] >= ratingsCount
movieStats[popularMovies].sort_values([('rating', 'mean')], ascending=False)[:15]

                                       rating
                                         size      mean
title
Close Shave, A (1995)                     112  4.491071
Schindler's List (1993)                   298  4.466443
Wrong Trousers, The (1993)                118  4.466102
Casablanca (1942)                         243  4.456790
Shawshank Redemption, The (1994)          283  4.445230
Rear Window (1954)                        209  4.387560
Usual Suspects, The (1995)                267  4.385768
Star Wars (1977)                          583  4.358491
12 Angry Men (1957)                       125  4.344000
Citizen Kane (1941)                       198  4.292929
To Kill a Mockingbird (1962)              219  4.292237
One Flew Over the Cuckoo's Nest (1975)    264  4.291667
Silence of the Lambs, The (1991)          390  4.289744
North by Northwest (1959)                 179  4.284916
Godfather, The (1972)                     413  4.283293

In [33]:
df = movieStats[popularMovies].join(pd.DataFrame(similarMovies, columns=['similarity']))
df.sort_values(['similarity'], ascending=False)[:15]

/usr/local/lib/python3.6/dist-packages/pandas/core/reshape/merge.py:618: UserWarning: merging between different levels can give an unintended result (2 levels on the left, 1 on the right)
  warnings.warn(msg, UserWarning)

                                                    (rating, size)  ...  similarity
title                                                               ...
Star Wars (1977)                                               583  ...    1.000000
Empire Strikes Back, The (1980)                                367  ...    0.747981
Return of the Jedi (1983)                                      507  ...    0.672556
Raiders of the Lost Ark (1981)                                 420  ...    0.536117
Austin Powers: International Man of Mystery (1997)             130  ...    0.377433
Sting, The (1973)                                              241  ...    0.367538
Indiana Jones and the Last Crusade (1989)                      331  ...    0.350107
Pinocchio (1940)                                               101  ...    0.347868
Frighteners, The (1996)                                        115  ...    0.332729
L.A. Confidential (1997)                                       297  ...    0.319065
Wag the Dog (1997)                                             137  ...    0.318645
Dumbo (1941)                                                   123  ...    0.317656
Bridge on the River Kwai, The (1957)                           165  ...    0.316580
Philadelphia Story, The (1940)                                 104  ...    0.314272
Miracle on 34th Street (1994)                                  101  ...    0.310921

[15 rows x 3 columns]

In [41]:
userRatings = ratings.pivot_table(index=['user_id'],columns=['title'],values='rating')
corrMatrix = userRatings.corr(method='pearson', min_periods=100)
print(userRatings)

title    'Til There Was You (1997)  ...  Á köldum klaka (Cold Fever) (1994)
user_id                             ...
1                              NaN  ...                                 NaN
2                              NaN  ...                                 NaN
3                              NaN  ...                                 NaN
4                              NaN  ...                                 NaN
5                              NaN  ...                                 NaN
...                            ...  ...                                 ...
939                            NaN  ...                                 NaN
940                            NaN  ...                                 NaN
941                            NaN  ...                                 NaN
942                            NaN  ...                                 NaN
943                            NaN  ...                                 NaN

[943 rows x 1664 columns]

In [47]:
myRatings = userRatings.iloc[0].dropna()
simCandidates = pd.Series()
print(myRatings)

title
101 Dalmatians (1996)                  2.0
12 Angry Men (1957)                    5.0
20,000 Leagues Under the Sea (1954)    3.0
2001: A Space Odyssey (1968)           4.0
Abyss, The (1989)                      3.0
                                      ...
Wizard of Oz, The (1939)               4.0
Wrong Trousers, The (1993)             5.0
Young Frankenstein (1974)              5.0
Young Guns (1988)                      3.0
unknown                                4.0
Name: 1, Length: 271, dtype: float64

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

In [0]:

for i in range(0, len(myRatings.index)):
    # Извлекаем фильмы, похожие на оцененные мной
    sims = corrMatrix[myRatings.index[i]].dropna()
    # Далее оцениваем их сходство в зависимости от того, как я оценил тот или иной фильм
    sims = sims.map(lambda x: x * myRatings[i])
    # Добавляем индекс в список сравниваемых кандидатов
    simCandidates = simCandidates.append(sims)
simCandidates.sort_values(inplace=True, ascending=False)

In [58]:

simCandidates = simCandidates.groupby(simCandidates.index).sum()
simCandidates.sort_values(inplace = True, ascending = False)
print(myRatings)
print(simCandidates)

title
101 Dalmatians (1996)                  2.0
12 Angry Men (1957)                    5.0
20,000 Leagues Under the Sea (1954)    3.0
2001: A Space Odyssey (1968)           4.0
Abyss, The (1989)                      3.0
                                      ...
Wizard of Oz, The (1939)               4.0
Wrong Trousers, The (1993)             5.0
Young Frankenstein (1974)              5.0
Young Guns (1988)                      3.0
unknown                                4.0
Name: 1, Length: 271, dtype: float64
Raiders of the Lost Ark (1981)               231.260437
Back to the Future (1985)                    227.855851
Indiana Jones and the Last Crusade (1989)    201.504723
Fugitive, The (1993)                         193.903399
Return of the Jedi (1983)                    192.196477
                                                ...
George of the Jungle (1997)                    0.674360
Spawn (1997)                                   0.614461
Seven Years in Tibet (1997)                    0.358647
Killing Fields, The (1984)                     0.087867
Wag the Dog (1997)                            -0.349471
Length: 305, dtype: float64

In [59]:
# filteredSims = simCandidates.drop(index=myRatings.index)
filteredSims = simCandidates
for i in range(len(simCandidates)):
  for j in range(len(myRatings)):
    if myRatings.index[j] == simCandidates.index[i]:
      filteredSims = filteredSims.drop(index=myRatings.index[j])
print(filteredSims)

E.T. the Extra-Terrestrial (1982)    163.329906
Speed (1994)                         158.530237
True Lies (1994)                     153.917583
Mission: Impossible (1996)           149.292610
Stand by Me (1986)                   130.261197
                                        ...
Cop Land (1997)                        0.696848
Spawn (1997)                           0.614461
Seven Years in Tibet (1997)            0.358647
Killing Fields, The (1984)             0.087867
Wag the Dog (1997)                    -0.349471
Length: 132, dtype: float64